[core]
	excludesfile = ~/.gitignore
[color]
	ui = auto
[user]
	name = Svend Sorensen
	email = svend@ciffer.net
[diff "gpg"]
        textconv = gpg --decrypt --batch --quiet
[diff "word"]
        textconv = strings
[url "ssh://git@git.ciffer.net/"]
	insteadOf = https://git.ciffer.net/
[url "git@github.com:svend/"]
	insteadOf = https://github.com/svend/
